bg = #6d72fe
gray = #d1d1d0
purple = #8d90fe

flexCenter()
  display flex
  align-items center
  justify-content center
  
*
  margin 0
  padding 0
  user-select none
  

.wrapper
  width 100%
  height 100vh
  background-color bg
  flexCenter()
  svg
    fill #fff
    width 30px
    padding 0 10px
    &#minus.inactive
      fill gray
      opacity .9
  .box
    width 160px
    height 60px
    background purple
    position relative
    border-radius 50px
    display flex
    justify-content space-between
    align-items center
    overflow hidden
    .round
      position absolute
      width 60px
      height 60px
      border-radius 50%
      p.value
        font-family monospace
        font-size 25px
      &.bouncy
        left 51px
        transition .4s cubic-bezier(0, 0.54, 0.15, 1.51) all
      flexCenter()
      background-color #fff
      color purple
      font-size 20px
      top 0
      left calc(50% - 30px)
      cursor pointer
     
.inspired
  position absolute
  bottom 10px
  font-size 13px